/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

@keyframes blink-warning {
    70% {
        color: white;
    }

    to {
        color: white;
        background-color: orange;
    }
}

@keyframes blink-critical {
    70% {
      color: white;
    }

    to {
        color: white;
        background-color: red;
    }
}


/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

/* Reset all styles */
* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* The whole bar */
#waybar {
    background: #000000;
    color: white;
    font-family: Cantarell, Noto Sans, sans-serif;
    font-size: 13px;
}

/* Each module */
#battery,
#clock,
#cpu,
#custom-keyboard-layout,
#custom-vpn,
#custom-poweroff,
#custom-lock,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#tray {
    padding-left: 8px;
    padding-right: 8px;
}
#cpu,
#memory,
#temperature {
    background: #151515;
}


/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#custom-vpn {
    padding-left: 0;
}
#custom-separator {
    /* font-weight: bold; */
    font-size: 18px;
    padding-left: 2px;
    padding-right: 7px;
    color: #333;
}

#appbar button.active {
    background-color: #444444;
}

#custom-close {
    color: #FF0000;
    font-size: 16px;
    padding-right: 5px;
    padding-top:  3px;
}

#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.warning {
    color: orange;
}

#battery.critical {
    color: red;
}

#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

#clock {
    font-weight: bold;
}

#cpu {
  /* No styles */
}

#cpu.warning {
    color: orange;
}

#cpu.critical {
    color: red;
}

#memory {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#memory.warning {
    color: orange;
}

#memory.critical {
    color: red;
    animation-name: blink-critical;
    animation-duration: 2s;
}

#mode {
    background: #64727D;
    border-top: 2px solid white;
    /* To compensate for the top border and still have vertical centering */
    padding-bottom: 2px;
}

#network {
    /* No styles */
}

#network.disconnected {
    color: orange;
}

#pulseaudio {
    /* No styles */
}

#pulseaudio.muted {
    /* No styles */
}

#custom-spotify {
    color: rgb(102, 220, 105);
}

#temperature {
    /* No styles */
}

#temperature.critical {
    color: red;
}

#tray {
    /* No styles */
}

#window {
    font-weight: bold;
}

#workspaces button {
    animation-duration: 0s;
    border: none;
    padding: 0;
    font-size: 0;
    margin: 0;
    margin-left: -15px;
}

#workspaces button.focused {
    border-top: 2px solid transparent;
    margin: 0;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-color: #4c7899;
    color: white;
    background-color: #285577;
    font-size: 14px;
}

#workspaces button.urgent {
    border-top: 2px solid transparent;
    margin: 0;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 14px;
    border-color: #c9545d;
    color: #c9545d;
}
